*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}


/* HEADER  */
header{
    padding: 15px 20px;
    background-color: white;
}

.logo-text{
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: 800;
    vertical-align: top;
}

/* MAIN  */
.main-container{
    max-width: 991px;
    max-height: 991px;
    background-color: white;
    margin: 50px auto;
    border-radius: 15px;
    padding: 10px 0;
}

/* BUTTON  */
.buttons {
   padding: 15px 50px;
   border-bottom: 2px solid #F5F5F5;
}

.button {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    font-weight: 500;
}

.add-task {
    background-color: #1E90FF;
    color: white;
    border:none;
    
    
}

.add-section {
    color: lightgray;
    background-color: transparent;
    border: 1px solid;
}



/* LISTA */

.lists {
    padding:20px 50px;
}

ul {
    margin: 20px;
    list-style: none;
}

.task-type {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    color: #1C2833;
    line-height: 2;
}

.tasks {
    font-size: 24px;
    color: #1C2833;
    font-family: sans-serif;
    line-height: 2.2;
}

.circle {
    border-radius:50%;
    margin-right: 10px;
    padding-left: 2px;
}

.done {
    color: green;
    border: 1px solid;
}

.not-done {
    color: red;
    border: 1px solid;
}

/* TOPIC */

.topic {
    color: white;
    border:none;
    padding: 5px 10px;
    border-radius: 10px;
    vertical-align: middle;
}

.editorial {
    background-color: #1E90FF;
}

.q1-goals {
    background-color: #933ED3;
}

.recruiting {
    background-color:#16BB97;
}

.mobile {
    background-color: orange;
}

.website {
    background-color: #CC62CB;
}

.sales {
    background-color:#93C254;
}


