*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}

main {

}

/* HEADER  */
header{
    width: 100%;
    padding: 15px;
    background-color: white;
}

.logo-text{
    font-size: 40px;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 800;
    vertical-align: top;
}

/* MAIN  */
.main-container{
    width: 800px;
    height: 750px;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 20px;
}

/* BUTTON  */
.buttons {
    padding-left: 50px;
    margin-bottom: 10px;
}

.button {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    
}

.add-task {
    background-color: #1E90FF;
    color: white;
    border:none;
    
}

.add-section {
    color: lightgray;
    background-color: white;
    border: 1px solid;
}

hr {
    border: 1px solid #F5F5F5;
}


